[app]
source_type=git
instance_path=${paths:instances}/${name}/${instance_id}
venv_path=${instance_path}/venv
src_path=${instance_path}/src
run_path=${instance_path}/run
interpreter=python
config=${paths:apps_enabled}/${name}.cfg
entry_point=${name}:create_app()
user=www-data
group=www-data
domains=

[plugins]
# any key listed here is the name of a plugin that will be loaded and be
# available to apps
git=on
uwsgi=on
nginx=on

[site]
# mode with which new directories will be created (does honor umask!), octal
dirmode=0755
umask=0022

[paths]
# global configuration for scotch
configuration=/etc/scotch
apps_enabled=${configuration}/apps-enabled

# one directory per application
instances=/var/local/scotch
